{% extends 'ZimadTest/base.html' %}

{% load i18n %}

{% block body_block %}
    <div class="ui blue segment" style="max-width:500px;margin: auto;">
        <form class="ui form" method="post" action="{% url 'users:create' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    {% if field.help_text %}
                        <label>{{ field.label }} <i class="ui help blue icon note-popup" data-html="{{ field.help_text }}"></i></label>
                    {% else %}
                        <label>{{ field.label }}</label>
                    {% endif %}
                    {{ field }}
                    <small class="error-text">{{ field.errors }}</small>
                </div>
            {% endfor %}
            {% for error in form.non_field_errors %}
                <small class="error-text">{{ error }}</small><br>
            {% endfor %}
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="sixteen wide column right aligned">
                    <input type="submit" class="ui blue button" name="submit" value="{% trans 'Save' %}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
